.display{
    width:40rem;
    background:#eee;
    aspect-ratio:1/1;
    padding:4rem;
    display:flex;
    flex-direction: column;
   border-radius: 1.2rem;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
